html,
body {
  padding: 70PX;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.3rem;

    
}

button{
  padding: 5px;
  margin-right: 15px;
  width: 50px;
}